.main {
  background-color: rgb(226 232 240);
  margin: 0 auto;
  max-width: 100px;
  padding: 0.25rem 1rem;
}

.header {
  margin-top: 1rem; /* 16px */
  margin-bottom: 1rem; /* 16px */
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 700;
}

.text {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
