.title {
  font-size: 3rem; /* 30px */
  line-height: 3.25rem; /* 36px */
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.media_container {
  display: flex;
  justify-content: space-between;
}

.header3 {
  color: white;
}
.subtitle {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  margin-top: 1rem;
  margin-bottom: 0px;
  color: white;
}

.date {
  margin-top: 0px;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: white;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
}
.home {
  margin: 2.5rem 0rem;
  color: white;
}

.article {
  color: white;
  font-size: 1.5rem;
}

.section {
  margin-top: 1rem;
}
