.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  font-size: 1.5rem;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1030px;
  box-shadow: 0 15px 30px 0 hsla(0, 0%, 0%, 0.2),
    0 5px 10px 0 hsla(0, 0%, 0%, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 101;
  background: white;
  color: black;
  transition: opacity 1s ease-in-out;
}

.containerShow {
  transform: scale(1) translate(-50%, -50%);
  opacity: 1;
}
.containerHide {
  transform: scale(0) translate(-50%, -50%);
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 1s ease-in-out;
  backdrop-filter: blur(0.25rem);
}

.overlayShow {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

.overlayHide {
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}
